body {
    background-color: antiquewhite;
}

.navbar {
    background-color: aquamarine
}

.btn {
    background-color: aquamarine;
    width: 100px;
}

.col-sm-6 {
    background-color: aquamarine;
}
